@import "./media_mixins.scss";

$width: 55px;

$font-basic: Cormorant-Infant;
$font-secondary: 'Palette Mosaic';
$font-third: 'SpecialElite';

$padding-vert: 4vh;

$padding-hor: 4vw;


@mixin cormorantBold {
  font-family: Cormorant-Infant;
  font-weight: 700;
}


body{
  padding: 0;
  margin: 0;
  font-family: $font-basic;

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    padding: 0;
  }
}

a{
  text-decoration: none;
}



@mixin page-padding-vertical {
  padding-top: $padding-vert;
  padding-bottom: $padding-vert;
}

@mixin page-padding-horizontal {
  padding-left: $padding-hor;
  padding-right: $padding-hor;
}


@mixin large-text {
  font-size: 55px;
  font-weight: bold;
}
  
@mixin text-shadow {
  text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.336);
  
}

@mixin text-shadow-hover {
  text-shadow: -6px 6px 3px rgba(0, 0, 0, 0.25);
  
}


@mixin container-padding {
    padding: 32px 64px;
    @include media-tablet {
      padding: 16px 32px;
    }
}



